@charset "UTF-8";

@keyframes animationLinkFade {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

html, body {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}


header {
    width: 100%;
    height: 8%;
    background-color: #171717;
    padding: 0 2rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #F1F1F1;
    letter-spacing: 4px;
    text-transform: uppercase;
}

header .navbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

header .navbar-mobile-menu {
    display: none;
}

header .navbar-mobile-menu div {
    width: 22px;
    height: 2px;
    margin: 5px;
    background-color: #F1F1F1;
    transition: all 0.3s ease-in-out;
}

header .navbar-mobile-menu.active .line1 {
    transform: rotate(45deg) translate(5px, 5px);
}

header .navbar-mobile-menu.active .line2 {
    opacity: 0;
}

header .navbar-mobile-menu.active .line3 {
    transform: rotate(-45deg) translate(5px, -5px);
}


header .navbar-list {
    list-style: none;
    transition: transform 0.3s ease-in;

    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
}

header .navbar-list li {
    opacity: 1;
}

header .navbar-list li a {
    color: #F1F1F1;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
}

main {
    width: 100%;
    height: 92%;
    background-color: #212121;
}

@media screen and (max-width: 1000px) {
    header .navbar-mobile-menu {
        display: block;
    }

    header .navbar-list {
        position: absolute;
        top: 8%;
        right: 0;
        width: 50%;
        height: 92%;
        background-color: #171717;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
    }

    header .navbar-list li {
        opacity: 0;
    }

    header .navbar-list.active {
        transform: translateX(0);
    }
}